:root{
    --colorp1: #bfffd1;
    --colorp2: #5fed83;
    --colorp3: #08872b;
    --colorp4: #104c35;
    --colors1: #24292e;
    --colors2: #21262d;
    --colors3: #fafbfc;
    --colorwhite: #ffffff;
    --colorblack: #000000;

    --ffNav: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --ffTitle: Arial, Helvetica, sans-serif;
    --ffText: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: 50px;
}

a{
    color: blue;

    &:active{
        opacity: 80%;
    }
}

img{
    width: 90%;
    padding: 5%;
}

body{
    min-height: 100vh;
    background-color: var(--colorwhite);
    position: relative;
}

header{
    margin: 0;
    position: fixed;
    display: flex;
    top: 0; left: 0; right: 0;
    background-color: var(--colors1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: var(--ffNav);

    .logo{
        font-weight: bolder;
        font-size: 25px;
        color: var(--colorwhite);
        margin-right: 20px;
    }

    .navbar > ul{
        display: flex;
        width: 100%;
        list-style: none;


        li{
            position: relative;
            height: 50px;
            float: left;

            a{
                height: 100%;
                padding: 0 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                color: var(--colors3);
                transition: 0.25s ease;

                &:hover{
                    background-color: var(--colors3);
                    color: var(--colorp4);
                    font-size: 120%;

                    svg{
                        fill: var(--colorp4);
                    }
                }
            }

            .dropdown{
                position: absolute;
                left: 0;
                list-style: none;
                display: none;

                li{
                    background-color: var(--colors1);
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

                    a{
                        width: 100%;
                    }
                }
            }

            &:hover > .dropdown{
                display: flex;
            }
        }
    }
}

.menuButton{
    display: none;
}

.scrollUp{
    position: fixed;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--colors3);
    bottom: 40px;
    right: 40px;
    border-radius: 20%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    transition: ease 0.25s;

    .scrollTT{
        visibility: hidden;
        width: 150px;
        background-color: var(--colors1);
        color: var(--colorwhite);
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        right: 50px;
        bottom: 0;
        translate: 0 20%;
        z-index: 1;   
    }

    &:hover{
        .scrollTT{
            visibility: visible;
        }
    }

    &:active{
        background-color: var(--colorp4);
    }
}

.backpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--colorp4);
    background-image: url(script.jpeg);
    min-height: 100vh;

    .page{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: 100vh;
        width: 60%;
        background-color: var(--colors2);
        color: var(--colorwhite);

        .section{
            scroll-snap-align: start;
            width: 100%;
            border-top: 1px dotted var(--colorblack);
            color: var(--colors3);

            .title{
                margin: 100px 50px 50px 50px;
                padding: 20px;
                
                text-align: center;
                font-family: var(--ffTitle);
                font-weight: bold;
                font-size: 32px;
                border: 2px solid var(--colorp3);
                border-radius: 10px;
            }

            .subtitle{
                margin: 50px;
                color: var(--colorp2);
                font-family: var(--ffText);
                font-weight: bold;
                font-size: 24px;
            }

            .subheading{
                color: var(--colorp2);
                font-style: italic;
                text-decoration: underline;
            }
    
            .info{
                margin: 50px;
                font-family: var(--ffText);
                font-size: 18px;
                line-height: 1.5;
            }
    
            .bullet{
                margin-left: 80px;
            }    
        }

        .container{
            margin: 0 0 200px 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            background-color: var(--colors2);

            .card{
                margin: 15px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                transition: 0.2s;
                width: 300px;
                color: var(--colors3);
                background-color: var(--colors1);
                font-family: var(--ffText);

                &:hover{
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    scale: 1.05;
                }

                .cardText{
                    padding: 10px 20px;
                }
            }
        }
    
    }
}
