:root{
    --colorprimary: #2dba4e;
    --colorsecondary: #24292e;
    --colortertiary: #fafbfc;
    --coloraccent: #2b3137;
    --colorwhite: #ffffff;
    --colorblack: #000000;

    --ffNav: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --ffTitle: Arial, Helvetica, sans-serif;
    --ffText: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--colortertiary);
    font-family: var(--ffNav);
    position: relative;
}

nav{
    background-color: var(--colorsecondary);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
            height: 50px;
    
            &:first-child{
                margin-right: auto;
            }

            a{
                height: 100%;
                padding: 0 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                color: var(--colortertiary);
                transition: 0.25s ease;
            }

            a:hover{
                background-color: var(--colortertiary);
                color: var(--colorprimary);
                font-size: 120%;
            }
        }
    }

    .navbar{
        position: fixed;
        background-color: black;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li{
        width: 100%;
    }

    a{
        width: 100%;
        color: var(--colorsecondary)
    }
}

.menuButton{
    display: none;
}

.scrollUp{
    position: fixed;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--colortertiary);
    bottom: 40px;
    right: 40px;
    border-radius: 20%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    transition: ease 0.25s;

    .scrollTT{
        visibility: hidden;
        width: 150px;
        background-color: var(--colorsecondary);
        color: var(--colorwhite);
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        right: 50px;
        bottom: 0;
        translate: 0 20%;
        z-index: 1;   
    }

    &:hover{
        .scrollTT{
            visibility: visible;
        }
    }

    &:active{
        background-color: var(--colorprimary);
    }
}

.backpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(script.jpeg);
    

    .page{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        width: 60%;
        background-color: var(--colortertiary);
        color: var(--colorsecondary);

        .title{
            margin-top: 75px;
            padding: 25px 50px;
            width: 100%;
            font-family: var(--ffTitle);
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
        }

        .subtitle{
            margin: 0;
            padding: 25px 50px;
            width: 100%;
            font-family: var(--ffText);
            font-weight: bold;
            font-size: 20px;
        }

        .info{
            margin: 0;
            padding: 0 50px 25px 50px;
            width: 100%;
            background-color: var(--colorwhite);
            font-family: var(--ffText);
            font-size: 16px;
            line-height: 1.5;
        }

        .bullet{
            margin: 0;
            padding: 0 50px 25px 80px;
            width: 100%;
            font-family: var(-ffText);
            font-size: 16px;
            line-height: 1.5;
        }

        .container{
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .cards{
                margin: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border: 1px solid var(--colorblack);
                background-color: var(--colorwhite);

            }
        }
    
    }
}


@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}